<!DOCTYPE html>
<htm>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Aaja</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Aajai</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/addSubject">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminView">View</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container container-table">
      <div class="row vertical-center-row" style="margin-top:20px;">
        <div class="col-md-3"></div><br>
        <div class="text-center col-md-6">
          <p><strong>Subject : <%= subject.subjectName %></strong> <br> Code : <%= subject.subjectCode %></p><hr>
          <form method="post" action="/addChapters">
            <input type="hidden" name="numOfChapters" value="<%= subject.numOfChapters %>">
            <% for(var i=0,j=1; i < subject.numOfChapters; i++){ %>
              <p><strong>Chapter <%= j %> </strong></p>
              Name : <input type="text" name="chapterName"><br><br>
              <input type="hidden" name="subjectCode" value="<%= subject.subjectCode %>">
              <input type="hidden" name="sem" value="<%= subject.sem %>">
              <input type="hidden" name="faculty" value="<%= subject.faculty %>">
              Hours : <input type="number" name="hours"><br><br>
              Marks : <input type="number" name="marks"><br><br><hr>
            <% } %>
            <button type="submit">Add Chapters</button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
